EIMv1/.vs/config/applicationhost.config
EIMv1/.vs/EIMv1/v14/.suo
EIMv1/src/EIMv1/bin/Debug/netcoreapp1.0/EIMv1.deps.json
EIMv1/.vs/config/applicationhost.config
EIMv1/src/EIMv1/bin/Debug/netcoreapp1.0/EIMv1.deps.json
EIMv1/.vs/config/applicationhost.config
EIMv1/src/EIMv1/bin/Debug/netcoreapp1.0/EIMv1.deps.json
EIMv1/src/EIMv1/bin/Debug/netcoreapp1.0/EIMv1.dll
EIMv1/src/EIMv1/bin/Debug/netcoreapp1.0/EIMv1.pdb
EIMv1/src/EIMv1/bin/Debug/netcoreapp1.0/EIMv1.runtimeconfig.dev.json
EIMv1/src/EIMv1/obj/Debug/netcoreapp1.0/.IncrementalCache
EIMv1/src/EIMv1/obj/Debug/netcoreapp1.0/dotnet-compile-csc.rsp
EIMv1/src/EIMv1/obj/Debug/netcoreapp1.0/dotnet-compile.rsp
EIMv1/.vs/restore.dg