/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  height: 100%;
}
body {
  /* Margin bottom by footer height */
  /* margin-bottom: 60px;*/
  height: 100%;

}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.white, .white a {
  color: #fff;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

.navbar {
    background-color: #3b3b3b
}

.navbar-brand {
    font-size: 1.5em;
    font-weight: 500;
}

.nav-item {
    list-style-type: none;
}

.nav-link {
    padding: 0px 0px;
}

.navbar-nav {
    margin: 0px 0px;
    padding: 0 0;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

/*Layout*/
#layout-remain {
    position: absolute;
    top: 45px;
    bottom: 0;
    width: 100%;
}

.layout-container {
    height: 100%;
}

/* User List*/

.input-group {
    width: 100%;
}
.list-group {
    padding: 0px;
    height: 100%;
    margin-bottom: 0px;
   
}

.list-group-item {
    border: none;
}

.list-group a {
    text-align: center;
    min-height: 45px;
}

.message-user-list-remain {
    padding: 0px;
    position: absolute;
    top: 50px;
    bottom: 0;
    width: 100%;
    overflow-y: scroll;
}

/*Message*/

#message-create {
    height: 45px;
    padding: 5px 5px;
    background-color: #484848;
}

#message-create .input-group .row {
    margin-left: 0px;
    margin-right: 0px;
}

#message-create .input-group .row .col-xs-2 {
    padding-left: 0px;
    padding-right: 0px;
}

.btn-lg {
    padding: 8px 12px;
}

.btn-default {
    background-color: inherit;
    border-color: transparent;
}

#message-to {
    height: 45px;
}


#message-to .row {
    margin-left: 0px;
    margin-right: 0px;
}

.message-fill {
    height: 100%;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.message-userlist {
    
    background-color: #484848;
}
.message-content {
    padding-left: 0px;
    padding-right: 0px;

}

#message-remain {
    position: absolute;
    top: 50px;
    bottom: 0;
    width: 100%;
}

div#message-messages {
    overflow-y: scroll;
    height: 45%;
    border-bottom: 1px solid #484848;
    
}

#message-friend h4 {
    visibility: hidden;
}

#message-write {
    height: 50%;
}

#message-lowbar {
    height: 45px;
    position: absolute;
    bottom: 0;
    width:100%;
}

div#container {
    height: 100%;
}

span#user_id {
    visibility: hidden;
}

/*message-create*/

textarea#message-form {
    height: 100%;
    width: 100%;
}