<div id="listDiv">

</div>

@section scripts {

    <script>

        $(document).ready(function () {
            LoadMessages();


        });

        function LoadMessages(user) {
            alert(user);
            $.ajax({
                type: 'GET',
                url: '/api/MessageData/' + user.last_name,
                dataType: 'json',
                success: function (jsonData) {
                    if (jsonData == null) {
                        alert('no data returned');
                        return;

                    }
                    alert("success");


                    $.each(jsonData, function (index, message) {

                        var userString = '<p>' + message.user_email + ' </p>';



                        $('#listDiv').append(userString);
                    });

                },
                error: function (ex) {
                    alert(ex);
                }
            });
            return false;
        }
    </script>
}