
@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-12">

        <h1>Welcome to the Encrypted Instand Messager(EIM)</h1>
        <p style="text-align : center">We are dedicated to protect your privacy.</p>
        <div style="text-align : center">
            <a asp-controller="Auth" asp-action="Login" class="btn btn-lg btn-success">Start Chatting</a>
        </div>

    </div>


</div>