
<!DOCTYPE html>
<html>
<head>
    <title>EIM</title>
    <meta charset="utf-8" />


    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootswatch/yeti/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/site.css?version = 2.4" />

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
        
        <a class="navbar-brand" href="#">Chronos</a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav navbar-right">
                <li class="nav-item ">
                    <a class="nav-link" href="#">Log out </a>
                </li>
            </ul>
           
        </div>
    </nav>
    <!-- Begin page content -->
    <div id="layout-remain">
        <div class="container-fluid layout-container">
            @RenderBody()
        </div>
    </div>
    
    <!--
    <footer class="footer">
        <div class="container text-center">
            <span class="text-muted">&copy; 2017 Chronos - Encrypted Instant Messaging</span>
        </div>
    </footer> 
        -->
    @RenderSection("scripts", false)

    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/site.js"> </script>

</body>
</html>